In [182]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
# Create the connection
dt = sqlite3.connect('database.sqlite')

# create the dataframe from a query
df = pd.read_sql_query("SELECT * FROM sqlite_master WHERE type ='table' ", dt)

In [183]:
#Lets look at the features in our dataset
df

,type,name,tbl_name,rootpage,sql
0,table,sqlite_sequence,sqlite_sequence,4,"CREATE TABLE sqlite_sequence(name,seq)"
1,table,Player_Attributes,Player_Attributes,11,"CREATE TABLE ""Player_Attributes"" (\n\t`id`\tIN..."
2,table,Player,Player,14,CREATE TABLE `Player` (\n\t`id`\tINTEGER PRIMA...
3,table,Match,Match,18,CREATE TABLE `Match` (\n\t`id`\tINTEGER PRIMAR...
4,table,League,League,24,CREATE TABLE `League` (\n\t`id`\tINTEGER PRIMA...
5,table,Country,Country,26,CREATE TABLE `Country` (\n\t`id`\tINTEGER PRIM...
6,table,Team,Team,29,"CREATE TABLE ""Team"" (\n\t`id`\tINTEGER PRIMARY..."
7,table,Team_Attributes,Team_Attributes,2,CREATE TABLE `Team_Attributes` (\n\t`id`\tINTE...

For our first analytics, we are going to look at youmg Soccer player with very high potential at the time of data collection

In [204]:
top_young_players = pd.read_sql("""
    SELECT Player.player_name, Player.birthday, Player_Attributes.potential, Player_Attributes.overall_rating, Player_Attributes.date,
     Player_Attributes.attacking_work_rate, Player_Attributes.defensive_work_rate,
    strftime('%Y', Player_Attributes.date) - strftime('%Y', Player.birthday) as Age_at_that_time
    FROM Player
    JOIN Player_Attributes ON Player.player_api_id = Player_Attributes.player_api_id
    WHERE strftime('%Y', Player_Attributes.date) - strftime('%Y', Player.birthday) <= 22
    ORDER BY Player_Attributes.potential DESC LIMIT 150
""", dt)
top_young_players['date'] = pd.to_datetime(top_young_players['date'])
top_young_players = top_young_players.sort_values(by='date')

# Reset the index after sorting
top_young_players = top_young_players.reset_index(drop=True)

top_young_players

data_types = data.dtypes

print(data_types)

player_name                    object
birthday                       object
potential                       int64
overall_rating                  int64
date                   datetime64[ns]
attacking_work_rate             int64
defensive_work_rate             int64
Age_at_that_time                int64
dtype: object

In [206]:
import sqlite3
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

# Encode categorical variables
data = top_young_players.copy()

#print(data_types)
# Encode categorical variables using label encoder with custom mapping
work_rate_mapping = {'low': 1, 'medium': 2, 'high': 3}
label_encoder = LabelEncoder()
label_encoder.fit(['low', 'medium', 'high'])

# Transform the work rate categories using the custom mapping
data['attacking_work_rate'] = data['attacking_work_rate'].map(work_rate_mapping)
data['defensive_work_rate'] = data['defensive_work_rate'].map(work_rate_mapping)
data_types = data.dtypes
print(data)
print(data_types)
# Define features
features = ['attacking_work_rate', 'defensive_work_rate', 'overall_rating']
target_attacking = 'attacking_work_rate'
target_defensive = 'defensive_work_rate'

# Predict Attacking Work Rate
X = top_young_players[features]
y_attacking = top_young_players[target_attacking]

X_train_attacking, X_test_attacking, y_train_attacking, y_test_attacking = train_test_split(X, y_attacking, test_size=0.2, random_state=42)

rf_model_attacking = RandomForestClassifier(random_state=42)
rf_model_attacking.fit(X_train_attacking, y_train_attacking)

rf_y_pred_attacking = rf_model_attacking.predict(X_test_attacking)

rf_accuracy_attacking = accuracy_score(y_test_attacking, rf_y_pred_attacking)
print(f"Accuracy for Attacking Work Rate: {rf_accuracy_attacking}")

# Predict Defensive Work Rate
y_defensive = top_young_players[target_defensive]

X_train_defensive, X_test_defensive, y_train_defensive, y_test_defensive = train_test_split(X, y_defensive, test_size=0.2, random_state=42)

rf_model_defensive = RandomForestClassifier(random_state=42)
rf_model_defensive.fit(X_train_defensive, y_train_defensive)

rf_y_pred_defensive = rf_model_defensive.predict(X_test_defensive)

rf_accuracy_defensive = accuracy_score(y_test_defensive, rf_y_pred_defensive)
print(f"Accuracy for Defensive Work Rate: {rf_accuracy_defensive}")

            player_name             birthday  potential  overall_rating  \
0        Carlos Eduardo  1987-07-18 00:00:00         90              79
1         Douglas Costa  1990-09-14 00:00:00         90              75
2                 Diego  1985-02-28 00:00:00         90              83
3               Lulinha  1990-04-10 00:00:00         91              75
4         Cesc Fabregas  1987-05-04 00:00:00         90              85
5            Nuri Sahin  1988-09-05 00:00:00         91              74
6        Cameron Jerome  1986-10-14 00:00:00         90              72
7          Arturo Vidal  1987-05-22 00:00:00         90              68
8          Sergio Ramos  1986-03-30 00:00:00         92              85
9       Vincent Kompany  1986-04-10 00:00:00         92              86
10       Yoann Gourcuff  1986-07-11 00:00:00         92              75
11       Anthony Stokes  1988-07-25 00:00:00         90              54
12             Anderson  1988-04-13 00:00:00         91              78
13     Daniel Sturridge  1989-09-01 00:00:00         91              73
14         Aaron Lennon  1987-04-16 00:00:00         90              79
15      Guillermo Ochoa  1985-07-13 00:00:00         91              77
16       Hatem Ben Arfa  1987-03-07 00:00:00         91              77
17        Johan Djourou  1987-01-18 00:00:00         91              64
18        Valon Behrami  1985-04-19 00:00:00         91              79
19       Valeri Bojinov  1986-02-15 00:00:00         91              84
20       Lukas Podolski  1985-06-04 00:00:00         92              87
21          Ever Banega  1988-06-29 00:00:00         90              71
22           Ryan Babel  1986-12-19 00:00:00         91              73
23         Theo Walcott  1989-03-16 00:00:00         93              76
24         Wayne Rooney  1985-10-24 00:00:00         93              93
25    Cristiano Ronaldo  1985-02-05 00:00:00         92              87
26        Sergio Aguero  1988-06-02 00:00:00         93              77
27    Philippe Senderos  1985-02-14 00:00:00         91              81
28        Salomon Kalou  1985-08-05 00:00:00         93              84
29   Giovani dos Santos  1989-05-11 00:00:00         90              70
30       Alexandre Pato  1989-09-02 00:00:00         93              81
31       Giuseppe Rossi  1987-02-01 00:00:00         90              72
32         Lionel Messi  1987-06-24 00:00:00         94              85
33          Bojan Krkic  1990-08-28 00:00:00         92              76
34         Wayne Rooney  1985-10-24 00:00:00         91              90
35         Lionel Messi  1987-06-24 00:00:00         93              86
36       Hatem Ben Arfa  1987-03-07 00:00:00         91              77
37         Arturo Vidal  1987-05-22 00:00:00         90              68
38    Cristiano Ronaldo  1985-02-05 00:00:00         94              91
39              Lulinha  1990-04-10 00:00:00         91              75
40         Sergio Ramos  1986-03-30 00:00:00         92              86
41       Alexandre Pato  1989-09-02 00:00:00         93              81
42      Andres Guardado  1986-09-28 00:00:00         90              79
43          David Silva  1986-01-08 00:00:00         92              85
44       Carlos Eduardo  1987-07-18 00:00:00         90              79
45                Diego  1985-02-28 00:00:00         90              88
46   Giovani dos Santos  1989-05-11 00:00:00         92              75
47          Jesus Navas  1985-11-21 00:00:00         92              85
48          Bojan Krkic  1990-08-28 00:00:00         92              76
49          Ever Banega  1988-06-29 00:00:00         90              71
50          Ever Banega  1988-06-29 00:00:00         90              71
51       Carlos Eduardo  1987-07-18 00:00:00         90              79
52       Alexandre Pato  1989-09-02 00:00:00         93              83
53   Giovani dos Santos  1989-05-11 00:00:00         92              78
54        Karim Benzema  1987-12-19 00:00:00         91              85
55         Lionel Messi  1987-06-24 00:00:00         95              90
56       Hatem Ben Arfa  1987-03-07 00:00:00         91              79
57                Breno  1989-10-13 00:00:00         90              75
58          Bojan Krkic  1990-08-28 00:00:00         92              79
59           Arda Turan  1987-01-30 00:00:00         90              79
60       Alexandre Pato  1989-09-02 00:00:00         92              79
61         Sergio Ramos  1986-03-30 00:00:00         92              85
62        Cesc Fabregas  1987-05-04 00:00:00         91              88
63          David Silva  1986-01-08 00:00:00         90              85
64                Breno  1989-10-13 00:00:00         90              75
65        Cesc Fabregas  1987-05-04 00:00:00         91              87
66        Douglas Costa  1990-09-14 00:00:00         90              75
67       Hatem Ben Arfa  1987-03-07 00:00:00         91              80
68          Bojan Krkic  1990-08-28 00:00:00         92              78
69          Jose Baxter  1992-02-07 00:00:00         92              69
70           Arda Turan  1987-01-30 00:00:00         90              79
71       Alexandre Pato  1989-09-02 00:00:00         92              80
72         Lionel Messi  1987-06-24 00:00:00         95              90
73            Keirrison  1988-12-03 00:00:00         91              80
74         Lionel Messi  1987-06-24 00:00:00         95              90
75      Franco Di Santo  1989-04-07 00:00:00         90              72
76         Mauro Zarate  1987-03-18 00:00:00         91              84
77        Jack Wilshere  1992-01-01 00:00:00         90              73
78          Bojan Krkic  1990-08-28 00:00:00         92              79
79       Alexandre Pato  1989-09-02 00:00:00         92              84
80        Cesc Fabregas  1987-05-04 00:00:00         91              87
81          Eden Hazard  1991-01-07 00:00:00         91              77
82        Karim Benzema  1987-12-19 00:00:00         91              85
83            Keirrison  1988-12-03 00:00:00         91              78
84          Eden Hazard  1991-01-07 00:00:00         90              79
85       Alexandre Pato  1989-09-02 00:00:00         92              84
86      Franco Di Santo  1989-04-07 00:00:00         90              74
87          Eden Hazard  1991-01-07 00:00:00         91              81
88       Alexandre Pato  1989-09-02 00:00:00         91              83
89    Christian Eriksen  1992-02-14 00:00:00         90              75
90       Alexandre Pato  1989-09-02 00:00:00         91              82
91               Neymar  1992-02-05 00:00:00         91              84
92    Christian Eriksen  1992-02-14 00:00:00         90              80
93        Jack Wilshere  1992-01-01 00:00:00         90              82
94          Gareth Bale  1989-07-16 00:00:00         90              86
95       Alexandre Pato  1989-09-02 00:00:00         90              85
96         Mario Goetze  1992-06-03 00:00:00         91              84
97               Neymar  1992-02-05 00:00:00         91              85
98        Jack Wilshere  1992-01-01 00:00:00         90              82
99    Christian Eriksen  1992-02-14 00:00:00         90              79
100         Eden Hazard  1991-01-07 00:00:00         92              87
101        Mario Goetze  1992-06-03 00:00:00         91              84
102              Neymar  1992-02-05 00:00:00         91              85
103       Jack Wilshere  1992-01-01 00:00:00         90              82
104       Jack Wilshere  1992-01-01 00:00:00         90              82
105         Eden Hazard  1991-01-07 00:00:00         90              85
106        Mario Goetze  1992-06-03 00:00:00         92              85
107              Neymar  1992-02-05 00:00:00         91              84
108        Mario Goetze  1992-06-03 00:00:00         92              85
109              Neymar  1992-02-05 00:00:00         91              84
110       Jack Wilshere  1992-01-01 00:00:00         90              83
111              Neymar  1992-02-05 00:00:00         91              83
112         Eden Hazard  1991-01-07 00:00:00         90              85
113              Neymar  1992-02-05 00:00:00         91              83
114        Mario Goetze  1992-06-03 00:00:00         92              85
115        Mario Goetze  1992-06-03 00:00:00         92              85
116         Eden Hazard  1991-01-07 00:00:00         90              85
117       Jack Wilshere  1992-01-01 00:00:00         90              83
118        Mario Goetze  1992-06-03 00:00:00         92              85
119        Mario Goetze  1992-06-03 00:00:00         92              85
120       Jack Wilshere  1992-01-01 00:00:00         90              82
121       Jack Wilshere  1992-01-01 00:00:00         90              82
122        Mario Goetze  1992-06-03 00:00:00         92              85
123         Eden Hazard  1991-01-07 00:00:00         90              85
124              Neymar  1992-02-05 00:00:00         91              83
125        Mario Goetze  1992-06-03 00:00:00         92              85
126              Neymar  1992-02-05 00:00:00         91              83
127              Neymar  1992-02-05 00:00:00         91              84
128         Eden Hazard  1991-01-07 00:00:00         90              85
129        Mario Goetze  1992-06-03 00:00:00         92              85
130        Mario Goetze  1992-06-03 00:00:00         92              85
131        Mario Goetze  1992-06-03 00:00:00         92              85
132        Mario Goetze  1992-06-03 00:00:00         92              85
133              Neymar  1992-02-05 00:00:00         91              84
134              Neymar  1992-02-05 00:00:00         91              85
135              Neymar  1992-02-05 00:00:00         91              86
136        Mario Goetze  1992-06-03 00:00:00         91              85
137              Neymar  1992-02-05 00:00:00         91              86
138        Mario Goetze  1992-06-03 00:00:00         91              86
139        Mario Goetze  1992-06-03 00:00:00         91              86
140          Paul Pogba  1993-03-15 00:00:00         91              84
141          Paul Pogba  1993-03-15 00:00:00         91              84
142          Paul Pogba  1993-03-15 00:00:00         92              86
143      Alen Halilovic  1996-06-18 00:00:00         90              76
144      Alen Halilovic  1996-06-18 00:00:00         90              76
145      Alen Halilovic  1996-06-18 00:00:00         91              77
146      Alen Halilovic  1996-06-18 00:00:00         91              77
147          Paul Pogba  1993-03-15 00:00:00         92              86
148          Paul Pogba  1993-03-15 00:00:00         92              86
149      Alen Halilovic  1996-06-18 00:00:00         90              77

          date  attacking_work_rate  defensive_work_rate  Age_at_that_time
0   2007-02-22                    2                    2                20
1   2007-02-22                    2                    2                17
2   2007-02-22                    3                    2                22
3   2007-02-22                    2                    1                17
4   2007-02-22                    3                    2                20
5   2007-02-22                    3                    2                19
6   2007-02-22                    3                    2                21
7   2007-02-22                    3                    3                20
8   2007-02-22                    3                    2                21
9   2007-02-22                    2                    3                21
10  2007-02-22                    3                    2                21
11  2007-02-22                    1                    2                19
12  2007-02-22                    2                    2                19
13  2007-02-22                    3                    1                18
14  2007-02-22                    3                    2                20
15  2007-02-22                    2                    2                22
16  2007-02-22                    3                    1                20
17  2007-02-22                    1                    3                20
18  2007-02-22                    3                    3                22
19  2007-02-22                    2                    1                21
20  2007-02-22                    2                    1                22
21  2007-02-22                    2                    2                19
22  2007-02-22                    2                    1                21
23  2007-02-22                    3                    2                18
24  2007-02-22                    3                    3                22
25  2007-02-22                    3                    1                22
26  2007-02-22                    3                    1                19
27  2007-02-22                    1                    2                22
28  2007-02-22                    2                    2                22
29  2007-02-22                    3                    2                18
30  2007-02-22                    3                    2                18
31  2007-02-22                    2                    2                20
32  2007-02-22                    3                    2                20
33  2007-02-22                    2                    1                17
34  2007-08-30                    3                    3                22
35  2007-08-30                    3                    2                20
36  2007-08-30                    3                    1                20
37  2007-08-30                    3                    3                20
38  2007-08-30                    3                    1                22
39  2007-08-30                    2                    1                17
40  2007-08-30                    3                    2                21
41  2007-08-30                    3                    2                18
42  2007-08-30                    3                    2                21
43  2007-08-30                    3                    1                21
44  2007-08-30                    2                    2                20
45  2007-08-30                    3                    2                22
46  2007-08-30                    3                    2                18
47  2007-08-30                    3                    2                22
48  2007-08-30                    2                    1                17
49  2007-08-30                    2                    2                19
50  2008-02-22                    2                    2                20
51  2008-02-22                    2                    2                21
52  2008-02-22                    3                    2                19
53  2008-08-30                    3                    2                19
54  2008-08-30                    2                    2                21
55  2008-08-30                    3                    2                21
56  2008-08-30                    3                    1                21
57  2008-08-30                    2                    2                19
58  2008-08-30                    2                    1                18
59  2008-08-30                    3                    2                21
60  2008-08-30                    3                    2                19
61  2008-08-30                    3                    2                22
62  2008-08-30                    3                    2                21
63  2008-08-30                    3                    1                22
64  2009-02-22                    2                    2                20
65  2009-02-22                    3                    2                22
66  2009-02-22                    2                    2                19
67  2009-02-22                    3                    1                22
68  2009-02-22                    2                    1                19
69  2009-02-22                    2                    1                17
70  2009-02-22                    3                    2                22
71  2009-02-22                    3                    2                20
72  2009-02-22                    3                    2                22
73  2009-02-22                    1                    1                21
74  2009-08-30                    3                    2                22
75  2009-08-30                    3                    1                20
76  2009-08-30                    2                    1                22
77  2009-08-30                    3                    3                17
78  2009-08-30                    2                    1                19
79  2009-08-30                    3                    2                20
80  2009-08-30                    3                    2                22
81  2009-08-30                    3                    2                18
82  2009-08-30                    2                    2                22
83  2009-08-30                    1                    1                21
84  2010-02-22                    3                    2                19
85  2010-02-22                    3                    2                21
86  2010-08-30                    3                    1                21
87  2010-08-30                    3                    2                19
88  2010-08-30                    3                    2                21
89  2011-02-22                    3                    2                19
90  2011-02-22                    3                    2                22
91  2011-08-30                    2                    2                19
92  2011-08-30                    3                    2                19
93  2011-08-30                    3                    3                19
94  2011-08-30                    3                    2                22
95  2011-08-30                    3                    2                22
96  2012-02-22                    2                    2                20
97  2012-02-22                    2                    2                20
98  2012-02-22                    3                    3                20
99  2012-02-22                    3                    2                20
100 2012-08-31                    3                    2                21
101 2012-08-31                    2                    2                20
102 2012-08-31                    2                    2                20
103 2012-08-31                    3                    3                20
104 2013-02-15                    3                    3                21
105 2013-02-15                    3                    1                22
106 2013-02-15                    2                    2                21
107 2013-02-15                    3                    2                21
108 2013-03-01                    2                    2                21
109 2013-03-01                    3                    2                21
110 2013-03-08                    3                    3                21
111 2013-03-15                    3                    2                21
112 2013-03-22                    3                    1                22
113 2013-03-22                    3                    2                21
114 2013-04-05                    2                    2                21
115 2013-04-12                    2                    2                21
116 2013-04-12                    3                    1                22
117 2013-04-26                    3                    3                21
118 2013-04-26                    2                    2                21
119 2013-05-10                    2                    2                21

ValueError: could not convert string to float: 'medium'